body
{
  background-color: #C99E67;
  font-size: 30px;
  text-align: center;
}

#page
{
  margin-top: 50vh;
  transform: translateY(100%);
  width: 1000px;
  margin: auto;
  border: 3px solid #A5583D;
  border-radius: 10px;
  background-color: #FFE9CE;
  vertical-align: middle;
  padding-top: 100px;
  padding-bottom: 100px;
}

.success
{
  font-weight: bold;
  color: green;
}

.error
{
  font-weight: bold;
  color: red;
}
