@font-face
{
  font-family: 'Diali';
  src: url('fonts/BeautyDemo.ttf') format('truetype');
}

body
{
  background-color: #C99E67;
  font-size: 20px;
}

#page
{
  margin: auto;
  width: 950px;
}

.jumbotron
{
  background-color: #A5583D;
  color: white;
  height: 250px;
  padding-left: 10px;
  margin: 0;
}

.jumbotron img
{
  float: left;
  width: 160px;
}

.jumbotron h1
{
  font-family: 'Diali', Arial, serif;
  font-size: 100px;
  color: #c99e67;

}

.jumbotron p
{
  font-size: 20px;
}

.container-fluid
{
  padding: 0;
}

.container-fluid p
{
  padding: 15px;
  background-color: #FFF8EF;
}

.container-fluid p a
{
  text-decoration: none;
  color: #c99e67;
}

.container-fluid p a:hover
{
  color: #A5583D;
}

nav
{
  display: flex;
  justify-content: space-between;
  background-color: #EEDFCC;
  padding: 20px;
}

.glyphicon
{
  font-size: 13px;
}

nav a
{
  color: #B95532;
}

nav li ul
{
  display: none;
}

nav li:hover ul
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  font-size: 18px;
  background-color: #EEDFCC;
}

nav a:hover
{
  text-decoration: none;
  color: #B97D32;
}

.container-fluid h1
{
  background-color: #A5583D;
  color: #EEDFCC;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.container-fluid h2
{
  color: #A5583D;
  font-size: 25px;
}

li
{
  display: inline-block;
  margin-right: 20px;
}

#main
{
  background-color: white;
  padding: 20px;
}

.main_img
{
  margin: 20px;
  text-align: center;
}

.resize_img
{
  width: 800px;
}

.panel-info
{
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 12px #C99E67;
}

.panel-info .panel-heading
{
  font-weight: bold;
  background-color: #A5583D;
  border: 1px solid #A5583D;
  border-bottom: 0px;
  color: #EEDFCC;
}

.panel-info .panel-body
{
  display: flex;
  flex-direction: row;
  border: 1px solid #A5583D;
}

.panel-info .panel-body img
{
    width: 400px;
    border: 2px solid #A5583D;
}

.right_part
{
  padding: 20px;
}

.qui
{
  font-size: 18px;
}

.resize_phone_qui, .resize_phone_action
{
  height: 350px;
}

.fiche
{
  font-size: 16px;
}

footer
{
  background-color: #EEDFCC;
  color: #B95532;
  padding: 15px;
}

footer img
{
  float: right;
  height: 30px;
  width: auto;
}

@media screen and (max-width: 415px)
{
        body
        {
          font-size: 16px;
        }

        #page
        {
          width: 320px;
        }

        .jumbotron
        {
          height: 150px;
          padding-left: 10px;
          margin: 0;
        }

        .jumbotron img
        {
          float: left;
          width: 100px;
        }

        .jumbotron h1
        {
          font-family: 'Diali', Arial, serif;
          font-size: 52px;
          color: #c99e67;

        }

        .jumbotron p
        {
          display: none;
        }

        nav
        {
          display: flex;
          flex-direction: column;
          padding: 10px;
          text-align: center;
        }

        .glyphicon
        {
          font-size: 10px;
        }

        nav li:hover ul
        {
          margin-left: 55px;
          font-size: 12px;
        }

        #main
        {
          padding: 5px;
        }

        .main_img
        {
          margin: 5px;
          text-align: center;
        }

        .resize_img
        {
          width: 310px;
        }

        .resize_phone
        {
          margin-left: -5px;
          width: 310px;
        }

        .resize_phone_qui
        {
          margin-left: -5px;
          width: 310px;
          height: auto;
        }

        .resize_phone_action
        {
          width: 310px;
          height: auto;
        }

        .container-fluid h1
        {
          font-size: 18px;
        }

        .container-fluid h2
        {
          color: #A5583D;
          font-size: 17px;
        }

        .panel-info
        {
          margin-top: 10px;
        }

        .panel-info .panel-body
        {
          display: flex;
          flex-direction: column;
          border: 1px solid #A5583D;
        }

        .panel-info .panel-body img
        {
            width: 275px;
        }

        .right_part
        {
          padding: 0px;
          padding-top: 10px;
        }

        footer
        {
          font-size: 16px;
        }

        .phone_hidden
        {
          display: none;
        }
}
