@font-face
{
    font-family: 'Diali';
    src: url('fonts/BeautyDemo.ttf') format('truetype');
}

@font-face
{
    font-family: 'Lemon';
    src: url('fonts/LemonMilk.otf') format('truetype');
}

.smallscreen
{
  display: none;
}

.navbar
{
    position:fixed;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background-color: #A5583D;
    border-bottom: 1px solid black;
    z-index:1000;
    font-family: 'Lemon', Arial, serif;
}

.navbar .container-fluid .navbar-header .navbar-brand
{
    font-weight: bold;
    color: white;
}

.navbar .container-fluid .nav .active a
{
    background-color: white;
    color: black;
}

.navbar .container-fluid .nav a
{
    font-size: 18px;
    color: white;
}

.navbar .container-fluid .nav .active a
{
    background-color: #C99E67;
    color: white;
}

.icone
{
  margin-top: 10px;
  float: right;
  width: 30px;
  height: auto;
  opacity: 0.5;
  transform: scale(1);
  transition: transform 0.5s;
}

.icone:hover
{
    opacity: 1;
    transform: scale(1.5);
}

.jumbotron
{
    background: url("pictures/header_background.jpg");
    background-position:center center;
    background-size: cover;
    color: white;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}

.jumbotron img
{
  width: 150px;
  height: auto;
  margin-bottom: -20px;
  margin-top: 30px;
}

.jumbotron h1
{
    margin-right: 20px;
    font-size: 100px;
    font-family: 'Diali', Arial, serif;
}

.jumbotron p
{
    font-size: 22px;
    margin-right: 20px;
}

.jumbotron .btn-primary
{
  margin-top: 10px;
  background-color: #A5583D;
  border: 1px solid #C99E67;
  border: 0;
  font-size: 20px;
  font-family: 'Lemon', Arial, serif;
}

.jumbotron .btn-primary:hover
{
  background-color: #C99E67;
  border: 0;
}

.ancre
{
    padding: 20px;
}

.container-fluid h1
{
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Lemon', Arial, serif;
}

.container-fluid .row
{
  padding: 8%;
  padding-top: 50px;
  font-size: 18px;
}

.carousel-indicators .active
{
  background-color: #C99E67;
}

.carousel-inner .img-responsive
{
  width: 100%;
}

.carousel-inner p
{
  font-size: 16px;
}

#myCarousel
{
  border: 2px solid #A5583D;
  background-color: white;
  margin: auto;
  width: 50%;
  font-family: 'Lemon', Arial, serif;
}

#myCarousel img
{
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  margin: auto;
}

#myCarousel img:hover
{
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
  margin: auto;
}

.modal-content .modal-header
{
  background-color: #A5583D;
  font-family: 'Lemon', Arial, serif;
}

.modal-content .modal-body
{
  color: black;
}

.modal-content .modal-body form
{
  margin: auto;
  width: 70%;
}

.modal-content .modal-body form div
{
  margin: 10px;
}

.modal-content .modal-body form div label
{
    font-family: 'Lemon', Arial, serif;
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 15px;
}

.modal-content .modal-body form div textarea
{
    resize: none;
}

form input, form textarea
{
  background-color: #FFE9CE;
}

form textarea
{
  height: 200px;
  vertical-align: top;
}

form input:focus, form textarea:focus
{
    border: 3px solid #A5583D;
}

form .button
{
  padding-left: 135px;
}

form button
{
  font-family: 'Lemon', Arial, serif;
  background-color: #A5583D;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.row
{
  background-color: #C99E67;
}

.col-sm-6 img
{
  width: 100%;
  border: 1px solid #A5583D;
}

.col-sm-5 img
{
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid #A5583D;
}

.col-sm-5 p
{
  text-align: left;
  margin-bottom: 20px;
}

.panel-info
{
  font-family: 'Lemon', Arial, serif;
  box-shadow: 1px 1px 12px #C99E67;
}

.panel-info .panel-heading
{
  font-weight: bold;
  background-color: #A5583D;
  border: 1px solid #A5583D;
  border-bottom: 0px;
  color: white;
}

.panel-info .panel-body
{
  display: flex;
  flex-direction: column;
  border: 1px solid #A5583D;
  text-align: left;
}

.panel-info .panel-body img
{
    border: 2px solid #A5583D;
    margin-bottom: 10px;
}

.panel-info .panel-body p
{
  padding: 10px;
}

#presentation, #senegal
{
  background-color: white;
}

#senegal_phone
{
  display: none;
}

footer
{
    background-color: #A5583D;
    color: white;
    padding: 30px;
    font-size: 18px;
}

footer p
{
    margin: 0px;
}
